:root {   
    --color-dark:#172139;
    --color-grey:#F4F4F4;
    --color-white: #FFFFFF;
    --color-black:#000000; 
    --color-orange:#FF6600;    
}

* {
    margin: 0;
    padding: 0;}

*,
*::before,
*::after {
    box-sizing: border-box;}

body {
    display: flex;
    flex-direction: column;    
    font-family: Arial;
    font-size: 15px;
    line-height: 24px;
    min-height: 100vh;    
    justify-content: flex-end;
    background: o;
}

.wrapper {
    width:100%;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
}